# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
vendor/
node_modules/
.bundle/

# OS/Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secret/Environment Variables
.env
*.env

# Custom Project Exclusions
NOTE.md
/tools/
