body{
    background: url("bkg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100;
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(50, 64, 78);
    box-shadow: 5px 4px 10px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
}

nav h2{
    color: white;
    margin-top: 3%;
    margin-left: 4%;
    display: block;
    cursor: pointer;
}

nav h1{
    color: goldenrod;
    margin-top: 3%;
    margin-left: -0.3%;
    display: block;
    cursor: pointer;
}

nav h4{
    color: slategray;
    margin-top: 3.2%;
    margin-right: 0;
    display: block;
    cursor: help;
}

nav ul{
    list-style: none;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 4%;
    display: flex;
    justify-content: right;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    padding-left: 20px;
    display: block;
}

nav ul li a:hover{
    background-color: goldenrod;
    border-radius: 50px;
}

body nav img{
    filter: drop-shadow(0px 0px 10px rgba(13, 13, 13, 0.814));
}


.gg{
    margin-top: 0;
    margin-right: 0;
    width: 50px;
    height: 50px;
}

.gg:hover{
    margin-top: 0;
    margin-right: 0;
    transform: scale(1.5);
    cursor: none;
}

herez{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: 10%;
    margin-top: 8%;
}

body herez h2{
    color: goldenrod;
    margin-bottom: -3%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    display: block;
    width: 100%;
}

body herez p{
    color: slategray;
    margin: 5%;
    margin-top: 7%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    display: block;
    width: 100%;
}

.off{
    color: #7d7d7d;
}

.place{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.sg-box{
    padding-top: 2% ;
    padding-bottom: 5%;
    background: rgb(50, 64, 78);
    box-shadow: 5px -4px 10px rgb(0, 0, 0);
}

body .sg-box img{
    margin: 5%;
    margin-top: 5%;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    cursor: pointer;
}

body .sg-box img:hover{
    width: 110%;
    margin: 5%;
    margin-top: 5%;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    cursor: pointer;
}

body .sg-box h4:hover{
    color: goldenrod;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

body .sg-box h4{
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.text-default{
    text-decoration: none;
    color: white;
}

body herez p button{
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(178, 138, 36, 0.981);
    box-shadow: 0px 0px 10px 1px black;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
}

body herez p button:hover{
    color: rgb(50, 64, 78);
    font-size: large;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 0px 10px 1px black;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

body .sg-box h2{
    text-align: center;
    border: 2px solid rgba(237, 232, 232, 0.647);
    border-radius: 10px;
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    background: rgb(25, 25, 36);
    color: white;
}

footer{
    background: rgb(166, 166, 166);
    box-shadow: inset 0px 10px 11px black;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0%;
}

body footer h5{
    text-align: center;
    padding-top: 1%;
    font-size: smaller;
    color: 5px 4px 10px rgb(0, 0, 0);
}