<!doctype html>
<html lang="id" data-bs-theme="dark">

<head>
  {% include head.html %}
</head>

<body class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">

  <main class="w-100">
    {{ content }}
  </main>

  <!-- Script Eksternal -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <!-- Custom Animations (Anime.js) -->
  <script defer src="{{ '/assets/js/animations.js' | relative_url }}"></script>

</body>

</html>
